body{
    background-color: aliceblue;
}
#toCenter{
    height: 100vh;
    text-align: center;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
}
input{
    border-radius: 5px;
    border-color: lightgray;
    text-align: center;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:3px solid #076585;
}

#calc-elements{
    padding-top: 20px;
    text-align: center;
}

#btn{
    margin-top: 20px;
}

#pmt{
    margin-top: 20px;
}

#sbt{
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    background-color: #076585;
    
}

#rst{
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightblue;
}

#pmt{
    border:none;
    color: green;
    font-size: 30px;
}

#closeBtn{
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightblue;
    
}