<<<<<<< HEAD
body{
    background-color: aliceblue;
}
#toCenter{
    height: 70vh;
    text-align: center;
    background-color: #2e2e2e;
    margin-left: 25%;
    margin-right: 25%;
}
label{
  font-size: 20px;
  color: grey;
}
input{
    font-size: 20px;
  color: lightblue;
    border-style: none none solid none;
    border-bottom:   1px  solid lightblue;
    background-color: #2e2e2e;
    text-align: center;
}

h2{
      font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#calc-elements{
    padding-top: 20px;
    text-align: center;
}

#btn{
      width: 100%;
    margin-top: 20px;
}

#pmt{
      width: 100%;
    margin-top: 20px;
}

#sbt{
  border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    border: 2px solid lightgreen;;
    margin-top: 20px;
    color: black;
    background-color: lightgreen;

}

#rst{
    border-radius: 10px;
    padding: 5px;
    border: 2px solid grey;
    color: grey;
    background-color: none;
}

#pmt{
      width: 100%;
    border:none;
    color: lightblue;
    font-size: 30px;
}

#closeBtn{
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightblue;

}
