body{
    color: gray;
    background-color: #2e2e2e;
    color: white;
    height: 100vh;
}

#row{
  text-align: center;
    width: 30%;
    background-color:#2e2e2e;
    padding: 20px 10px 20px 10px;

}
#row2{
    padding-top: 80px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    font-size: 30px;
}

#col1{
    color: lightblue;
}
h1{
  color: lightblue;
}
#col2:hover{
  opacity: 0.5;
}

#col2{
    cursor: pointer;
    transition: .5s ease;
    text-align: center;
}
#col3:hover{
    opacity: 0.5;
  }

#col3{
      cursor: pointer;
      transition: .5s ease;
      text-align: center;
  }

#col4:hover{
    opacity: 0.5;
  }

#col4{
      cursor: pointer;
      transition: .5s ease;
      text-align: center;
  }

.content{
    border-top: 1px solid grey;
  display: flex;
}
.sidebar{

  height: 50vh;
  width: 20%;
  margin: auto;
}
.mainview{
  border-left: 1px solid grey;
  width: 70%;
  visibility: visible;
}
.side_menu{
  width: 100%;
  margin: auto;
  text-align: center;
}
button{
  border-radius: 10px;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: grey;
  color: black;
  border: none;
  padding: 10px;
}

.active,button:hover{
  background-color: lightblue;
}
#footer{
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    opacity: 0.3;
    color: grey;
}
