body{
    /* background-image: linear-gradient(#076585, white); */
    background-color: #2e2e2e;
    color: white;
    height: 100vh;
}

#row{
    background-color:#2e2e2e;
    padding: 20px;
    border-bottom: 1px solid grey;
}
#row2{
    padding-top: 80px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    font-size: 30px;
}

#col1{
    color: lightblue;
}
h1{
  color: lightblue;
}
#col2:hover{
  opacity: 0.5;
}

#col2{
    cursor: pointer;
    transition: .5s ease;
    text-align: center;
}
#col3:hover{
    opacity: 0.5;
  }
  
#col3{
      cursor: pointer;
      transition: .5s ease;
      text-align: center;
  }

#col4:hover{
    opacity: 0.5;
  }
  
#col4{
      cursor: pointer;
      transition: .5s ease;
      text-align: center;
  }
  
.content{
  display: flex;
}
.sidebar{
  height: 80vh;
  width: 20%;
}
.mainview{
  width: 70%;
}
.side_menu{

}
button{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-color: grey;
  color: black;
  border: none;
  padding: 10px;
}
#active{
  background-color: lightblue;
}
#footer{
    padding-top: 30px;
    text-align: center;
    opacity: 0.5;
    color: grey;
}
